.bold {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}
.centerTable{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: rgb(255, 254, 217);
}

.creamBackground{
    background-color: rgba(79, 169, 221, 0.568); 
    border-radius: 25px;
    padding: 20px;
}

.topBottomMargin{
    margin-bottom: 15px;
    margin-top: 20px;
}

table{
    text-align: center;
}

button:hover{
    background-color: rgb(255, 191, 191);
}

button {
    color: #1D9AF2;
    background-color: #292D3E;
    border: 1px solid #1D9AF2;
    border-radius: 4px;
    padding: 0 15px;
    cursor: pointer;
    height:32px;
    font-size:14px;
    transition: all 0.2s ease-in-out;
    }
    button:hover {
    transform: scale(1.1);
}